body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 200%;
  color: white;
  background-color: black;
  padding-top:1%;
  padding-bottom:1%;
}

.navbar {
  text-align: center;
  margin: 0;
  padding: 0.1%;
}

.navbar a:link {
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 3%;
  -webkit-padding-end: 3%;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 3%;
  -moz-padding-end: 3%;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 3%;
  padding-end: 3%;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
}

.navbar a:visited {
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 3%;
  -webkit-padding-end: 3%;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 3%;
  -moz-padding-end: 3%;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 3%;
  padding-end: 3%;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
}

.navbar a:hover {
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 3%;
  -webkit-padding-end: 3%;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 3%;
  -moz-padding-end: 3%;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 3%;
  padding-end: 3%;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
}

.news {
  float:left;
  max-width: 45%;
}

.newsheader{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  background-color: white;
}

.newstext{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  background-color: white;
}
.newsimg {
  float: right;
  position: relative;
  width: 30%;
  height: 30%;
  align: right;
}
 .row{
   padding-left: 5%;
   padding-right: 5%;
 }

 .latestvid {
   float: left;
   position: relative;
   max-width: 150%;
   padding-left: 2%;
 }

.twitter-timeline{
  margin-left: 1%;
}

.latestvideo{
  padding-top:3%;
  padding-left: 47%;
  font-family: 'Roboto', sans-serif;
}
